body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
}

h1 {
    color: #3498db;
}

#meditationEntries {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.meditationEntry {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    padding: 10px;
    cursor: pointer;
    width: 200px;
}

.meditationEntry:hover {
    background-color: #e2e6ea;
}

.createButton {
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.createButton:hover {
    background-color: #2980b9;
}